MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

API_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

STOWN_LOGIN=
STOWN_PASSWORD=
STOWN_CLIENT_ID=
STOWN_CLIENT_SECRET=
STOWN_SCOPE=

STOWN_LOCAL_LOGIN=
STOWN_LOCAL_PASSWORD=